<Bar Style="height: 64px;" Class="navbar navbar-dark navbar-expand-md bg-dark" Breakpoint="Breakpoint.Desktop">
    <BarMenu>
        <BarStart>
            <BarItem Class="navbar-brand logo">
                <span class="logo-img"></span>
                <span class="navbar-title">DebugVsCodeFolder</span> <span class="navbar-version">{{ version }}</span>
            </BarItem>
            <BarItem Class="navbar-toggler d-lg-none" href="#" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <fa-icon icon="bars"></fa-icon>
            </BarItem>

        </BarStart>
        <BarEnd>
            <BarItem Class="nav-link">
                <Icon Name='"fa-home"' />
                Home
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle Class="nav-item dropdown pointer">
                        <Icon Name='"fa-user"' />
                        Account
                    </BarDropdownToggle>
                    @if (AuthenticationService.IsAuthenticated)
                    {
                        <BarDropdownMenu Class="dropdown-menu">
                            <BarDropdownItem Class="dropdown-item" @onclick="@SignOut">
                                <Icon Name='"fa-sign-in-alt"' />
                                Sign out
                            </BarDropdownItem>
                        </BarDropdownMenu>
                    }
                    else
                    {
                        <BarDropdownMenu Class="dropdown-menu">
                            <BarDropdownItem Class="dropdown-item" To="login">
                                <Icon Name='"fa-sign-in-alt"' />
                                Sign in
                            </BarDropdownItem>
                            <BarDropdownItem Class="dropdown-item" To="register">
                                <Icon Name='"fa-user-plus"' />
                                Register
                            </BarDropdownItem>
                        </BarDropdownMenu>
                    }
                </BarDropdown>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
   
}
