@using System.Net
@using System.Timers
@using SharedModel.Models
@using Toolbelt.Blazor

@inject HttpClientInterceptor Interceptor

<div class="alerts" role="alert">
    @foreach(var alert in Alerts)
    {
        <div>
            @if(alert != null && !string.IsNullOrEmpty(alert.Type)  && !string.IsNullOrEmpty(alert.Msg))
            {
                <Alert Color="Color.Danger" Visible="true">
                    <AlertMessage>@((MarkupString)alert.Msg)</AlertMessage>
                    <CloseButton Clicked="@(()=>RemoveAlert(alert))"/>
                </Alert>
            }
        </div>
    }

</div>
